[WIN]
A_COMPORT = COM5
A_BAUDRATE = 9600
A_PARITY = N
A_STOPBITS = 1
A_DATABITS = 8
M_COMPORT = COM6
M_BAUDRATE = 9600
M_PARITY = N
M_STOPBITS = 1
M_DATABITS = 8
[LIN]
A_COMPORT = /dev/ttyS0
A_BAUDRATE = 9600
A_PARITY = N
A_STOPBITS = 1
A_DATABITS = 8
M_COMPORT = /dev/ttyS1
M_BAUDRATE = 9600
M_PARITY = N
M_STOPBITS = 1
M_DATABITS = 8